---
import BaseLayout from "../layouts/BaseLayout.astro";

const modules = import.meta.glob("../content/posts/*.md", { eager: true }) as any;

const posts = Object.values(modules)
  .map((m:any)=>m.frontmatter)
  .sort((a:any,b:any)=>new Date(b.date).getTime()-new Date(a.date).getTime());
---
<BaseLayout title="All Posts">
  <h1>All Posts</h1>

  <hr/>

  <div class="grid gap-6 mt-4">
    {posts.map((p:any)=>(
      <a href={`/posts/${p.slug}`} class="card block">
        <h2>{p.title}</h2>
        <p class="text-sm text-gray-500">{p.description}</p>
        <p class="text-xs text-gray-400 mt-1">{p.date}</p>
      </a>
    ))}
  </div>
</BaseLayout>
